:root {
    --color: #90e0ef;
    --bgcolor: #002B5B;
    --border3blu: 3px solid #0077b6;
}
body {
    color: black;
    font-family: 'Courier Prime', monospace;
    text-align: center;
    background-color: var(--bgcolor);
    /* font-size: 100px; */
}

header { 
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: var(--color);
    border: var(--border3blu);
    border-radius: 5px;
}
main {
    width: 100%;
    display: block;
    justify-items: center;
    padding: 5%;
}

.blocs {
    background-color: var(--color);
    background-size: cover;
    color: var(--bgcolor);
    font-size: 20px;
    margin: 0 1%;
    align-items: center;
    border: var(--border3blu);
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

#firstHalf {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}   

#harmoSca {
    width: 100%;
}

#scaTab {
    display: flex;
    justify-content: center;

}

h3 {
    font-size: 200%;
}

.divScroll {
    overflow-x: auto;
}

.blcSelects {
    display: flex;
    flex-direction: row;
}

#recommended {
    align-items: center;
}

table, th, td {
    border: 1px solid;
    text-align: center;    
}
table {
    color: blue;
    background-color: var(--color);
    width: 94%;
}
#progTable {
    font-size: 200%;
}
td {
    color: black;
}
a {
    background-color: var(--color);
    text-decoration: none;
    color: black;

}

