:root {
    --dkblue: #03045e;
    --othrblue: #023e8a;
    --clrblue: #0077b6;
    --wtrblue: #57C5B6;
    --whitebg: #fff;
    --blk: #000;
    --red: #f00;


}
html {
    min-height: 98%;
}
body {
    font-family: 'Courier Prime', monospace;
    text-align: center;
    /* color: #0f0; */
    /* background: linear-gradient(#002B5B, #57C5B6, #002B5B); */
    background-color: #ffffff;  
    font-size: 100px;
    min-width: 420px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width: 320px;            /* As IE6 ignores !important it will set width as 1000px; */
}
header {
    display: flex;
    flex-direction: column;
    color: var(--dkblue);
    background-color: var(--whitebg);
    /* border: 2px solid #0077b6; */
    margin: 2%;
}
header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    margin: 0;
    /* font-style: oblique; */
}
header h2 {
    font-size: 30px;
    padding: 0 1% 1%;
    /* border: 2px dashed #0077b6; */
    margin: 1%;
    align-items: center;
}


main {
    width: 100%;
    display: block;
}
div {
    background-color: rgba(0, 0, 0, 20%);
    background-size: cover;
    color: var(--whitebg);
    font-size: 20px;
    margin: 0 1%;
    align-items: center;
}
#expl {
    font-size: 100%;
    color: var(--whitebg);
    background-color: var(--clrblue);
    /* border: 3px solid #0077b6; */
    padding: 2%;
}
.animate-fading {
    animation: fading 2s infinite;
  }
  @keyframes fading {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
#chDef {
    font-size: 30%;
    padding: 1% 1%;
    color: #fff;
    background-color: var(--clrblue);
    /* border: 3px solid #0077b6; */
    border-radius: 5px;
}
.chlink:hover{
    color: var(--red);
}
nav p {
    font-size: 150%;
    color: var(--whitebg);
    margin: 0;
    padding: 0;
}
div#button-ch {
    display: flex;
    background-color: transparent;
    margin: 0;
    /* align-items: center; */
    /* padding: 2px; */
}
.btn-primary {
    color: var(--dkblue)!important;
    background-color: var(--whitebg)!important;
    height: 75%;
    width: 100%;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
    /* border: 3px solid #b6b6b6; */
    border-radius: 7px;
    display: flex;
    font-size: 175%;
}
.btn-primary:hover {
    color: var(--whitebg)!important;
    background-color: var(--clrblue)!important;
    animation: none;
}
a {
    color: var(--whitebg);
    /* background-color: rgba(0, 0, 0, 20%); */
}

#chord-sec {
    margin-top: 1%;
    color: var(--dkblue);
    background-color: var(--whitebg);
    border: 1px solid var(--blk);
    border-radius: 6px;
}
#fret-title {
    padding: 1% 5%;
    margin: 0;
    font-size: 200%;
}
p#frets {
    color: var(--whitebg);
    margin-bottom: 7px;
}



table {
    margin: 10px;
    min-width: 1000px;

}
thead {
    background-color: var(--clrblue);
    color: #fff;
}
th {
    width: 100px;
}
td {
    background-color: var(--dkblue);
    color: var(--wtrblue);
}
.first {
    background-color: #aaa;
}
.fretsCl {
    background-color: var(--blk);
}
.one {
    background-color: var(--dkblue);
}
.other {
    background-color: var(--othrblue);
}




.notes {
    background-color: var(--whitebg);
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
}
.notes p {
    padding-top: 2px;
    color: var(--wtrblue);
}

.button-list {
    text-align: center;
}
/* ul {
    align-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #678;
    width: min-content;

} */
li {
    list-style: none;

}

#v2 {
    color: red;
}

@media only screen and (min-width:1000px) {
    section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    #button-ch {
        width: 30%;
    }
    /* hr {display: none;} */
}

@media only screen and (max-width: 1000px) {
    header h1 {
        font-size: 40px;
    }
    header h2 {
        font-size: 25px;
    }
    hr {
        padding: 0;
        margin: 3%;
    }
    #chDef {
        font-size: 30%;
    }
    
    .btn-primary {
        padding: 3%;
        height: 10%;
        font-size: 200%;
    }
    #fret-title {
        font-size: 160%;
    }

}  

@media only screen and (max-width: 850px) {
    header h1 {
        font-size: 30px;
    }
    header h2 {
        font-size: 20px;
    }
    hr {
        margin: 0;
        display: none;
    }
    #chDef {
        padding: 5% 5%;
        font-size: 20%;
    }
    #button-ch {
        margin: 5%;
    }
}

@media only screen and (max-width: 700px) {
    
    .btn-primary {
        padding: 3% 5%;
        font-size: 150%;
    }
    #fret-title {
        font-size: 100%;
    }
}



