body {
    font-family: 'Courier Prime', monospace;
    text-align: center;
    color: rgb(0, 255, 0)!important;
    background: linear-gradient(black, blue, black);
    overflow: auto;
    min-height: 1000px;
}
header {
    color: #0d0;
    font-family: 'Courier Prime', monospace;
    background-color: black;
    margin: 0% 10%;
    padding: 1%;
}
h1 a {
    text-decoration: none!important;
    color: #0f0!important;
}
header h1 {
    font-size: 60px;
    font-style: oblique;
    margin: 0;
    text-decoration: none;
}
header h2 {
    font-size: 45px;
    margin: 0;
}
h6 {
    margin: 10px;
    background-color: #222;
    height: fit-content;
    font-size: 30px;
}


main {
    display: block;

}
#boxes {
    display: block;
    align-items: baseline;

}
form {
    background-color: black;
    font-size: 40px;
}
.boxess {
    margin: 1%;
    display: block;
}
#main-form {
    display: inline-block;
    padding: 10px; 
    width: 50%;
    padding-bottom: 20px;
}
select#mainChord {
    background-color: #0af;
}
label {
    font-size: 30px;
    cursor: text;
}
input {
    font-size: 40px;
}
button {
    font-size: 30px;
    margin: 0;
}
button:hover {
    color: gray;
    background-color: #0d0;
}
select {
    font-size: 25px;
    cursor: pointer;
}
select#mainChord {
    font-size: 25px;
}
p {
    font-size: 20px;
}



div#last-two {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
}
#creator {
    width: 20%;
    height: max-content;
    display: inline-block;
    background-color: black;
    align-items:center;
    padding: 10px;
    padding-bottom: 20px;
}
a#finCh {
    background-color: #0af;
    color: black;
    font-size: 50px;   
    margin: 30px 0;
    cursor: pointer;
}
a#finCh:hover {
    background-color: gray;
    color: #0f0;
}

main a {
    font-size: 30px;
    text-decoration: none;
    color: #0d0;
    background-color: black;
    padding: 0 10px;
}
main a:hover {
    color: black;
    background-color: #0d0;
}
#nextPage {
    display: inline-block;
    align-items: center;
    width: 60%;
    padding: 5px;
    padding-bottom: 20px;
}
a#chordTriad {
    background-color: #0af;
    color: black;
}
a#chordTriad:hover {
    background-color: gray;
    color: #0f0;
}
/* div {
    margin: 30px;
} */
h5 {
    margin:auto;
    font-size: large;
    background-color: #222;
}
a#back-button {
    border: 2px solid #0af;
    font-size: 20px;
    padding: 2px 3px;
    position: fixed;
    left: 50px;
    top: 50px;
}


/* ----------------Sizes----------------- */

@media only screen and (max-width: 1000px) {
    header h1 {
        font-size: 40px;
    }
    header h2 {
        font-size: 25px;
    }
    h6 {
        font-size: 25px;
    }
    a#back-button {
        position: fixed;
        left: 25px;
        top: 28px;
    }
    #boxes {
        margin: 2% 0;
        display: block;
        justify-content: center;
    }
    .boxess {
        display: block;
        margin: 1% 0;
        padding: 0;
    }
    #main-form {
        padding: 10px; 
        display: inline-block;
        width: 80%;
        justify-content: center;
    }
    label {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
    select {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
    select#mainChord {
        font-size: 20px;
    }
    a#finCh {
        font-size: 20px;
    }
    #creator {
        display: inline-block;
        width: 50%;
    }
    form#nextPage {
        display: inline-block;
        width: 80%;
    }
    a#chordTriad {
        font-size: 20px;
    }
} 
@media only screen and (max-width: 765px) {
    header h1 {
        font-size: 30px;
    }
    header h2 {
        font-size: 20px;
    }
    h6 {
        font-size: 20px;
    }
    #main-form {
        padding: 5px; 
        width: 75%;
    }
    a#back-button {
        left: 0;
        top: 27px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 400px) {
    a#back-button {
        left: 1px;
        top: 1px;
    }
}





.btn-primary {
    color: #0d0!important;
    background-color: black!important;
    text-shadow: none;
    margin: 0 0 10%;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid tr;
    border-radius: 10px;
  }
.butnn {
    width: 10px;
    height: 5px;
    margin: 5px;
}
.aClass .bigone {
    font-size: 30px!important;
    color: #0d0!important;
    background-color: black!important;
    text-shadow: none;
    margin: 0 0 30px;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid tr;
    border-radius: 10px;
}
.chords { 
    white-space: nowrap;
    background-color: black;
    background-size: cover;
    font-family: 'Courier Prime', monospace;
    color: green;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.notes {
    font-size: 20px;
}



/*
.btn-primary{
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4
}
.btn-primary.focus,.btn-primary:focus{
    color:#fff;
    background-color:#286090;
    border-color:#122b40
}
.btn-primary:hover{
    color:#fff;
    background-color:#286090;
    border-color:#204d74
}
.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{
    color:#fff;
    background-color:#286090;
    border-color:#204d74
}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{
    color:#fff;
    background-color:#204d74;
    border-color:#122b40
}
.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{
    background-image:none
}
.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] 
.btn-primary.focus,fieldset[disabled] 
.btn-primary:focus,fieldset[disabled] 
.btn-primary:hover{background-color:#337ab7;border-color:#2e6da4}
.btn-primary .badge{color:#337ab7;background-color:#fff}
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}
*/